Interaction {
	fillColor: white;
}

Lifeline {
	fillColor:  white;
}

Class {
	fillColor: azure;
	lineColor: darkgrey;
	fontColor: black;
} 

Operation {
	maskLabel: name parametersDirection parametersName parametersType returnType;
}


Property {
	maskLabel: name type multiplicity;
}

DataType {
	fillColor: lightyellow;
	lineColor: darkgrey;
	fontColor: black;
} 

Generalization {
	lineColor: grey;
	routing: Rectilinear;
	closestDistance: true;
}

Class > Compartment[kind="nestedclassifiers"]  {
	visible:false;
}

ActionExecutionSpecification {
	fillColor: white;
}

BehaviorExecutionSpecification {
	fillColor: white;
}