<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Sequence Diagram" sequenceNumber="1538636285">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.7.0.v20170604-1316"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
      <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.3.0.v20170605-1616"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.11.0.201706061354"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.7.3.v20180330-0919"/>
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.3.1.I20171018-2059"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
      <repository id="oxygen-release" location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="3.4.0.201805210649"/>
      <unit id="org.eclipse.papyrus.sdk.feature.source.feature.group" version="3.4.0.201805210649"/>
      <repository id="papyrus-oxygen" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="com.google.gson.source" version="2.7.0.v20170129-0911"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/R-builds/R20170516192513/repository"/>
    </location>
  </locations>
</target>
